# Phase 4 Project.

# Table of Contents.
## 1. Business Problem Overview.
## 2. Proposed Solution.
## 3. Dataset Desciption and Download Links.
## 4. Data Cleaning.
## 5. Data Transformation.
## 6. Modelling.
## 7. Results.
## 8. Conclusion.

## 1. Business Problem Overview.

Your task is to:

Build a model that can predict the primary contributory cause of a car accident, given information about the car, the people in the car, the road conditions etc. You might imagine your audience as a Vehicle Safety Board who's interested in reducing traffic accidents, or as the City of Chicago who's interested in becoming aware of any interesting patterns.

## 2. Proposed Solution.

## 3. Data Download Links.

* [Traffic Crashes: Crashes](https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if/about_data).
* [Traffic Crashes: People](https://data.cityofchicago.org/Transportation/Traffic-Crashes-People/u6pd-qa9d/about_data).
* [Traffic Ctashes: Vehicle](https://data.cityofchicago.org/Transportation/Traffic-Crashes-Vehicles/68nd-jvt3/about_data).

## 4. Data Loading and Overview.

In this section of the notebook we'll load the datasets and do a brief EDA.
We'll take a look at the datasets, we'll list columns and unique values for categorical columns. This would give us a better understanding of the datasets structures and amount of cleaning we might have to do for each set.

### Loading datasets.

In [7]:
# importing modules
import pandas as pd
import numpy as np
import os

# Data directory
dir_data = './Data'

# filenames
data_crashes = 'Traffic_Crashes_-_Crashes_20240719.csv'
data_people = 'Traffic_Crashes_-_People_20240719.csv'
data_vehicles = 'Traffic_Crashes_-_Vehicles_20240719.csv'

# path to files
path_crashes = os.path.join(dir_data, data_crashes)
path_people = os.path.join(dir_data, data_people)
path_vehices = os.path.join(dir_data, data_vehicles)

# loading datasets
df_crashes = pd.read_csv(path_crashes, low_memory=False)
df_people = pd.read_csv(path_people, low_memory=False)
df_vehicles = pd.read_csv(path_vehices, low_memory=False)

#### Supplemental function to display unique categorical column values in a dataframe.

In [21]:
# function will display unique values for all categorical columns in a dataframe.
def display_categorical_vals(df):
    # select categorical columns
    categorical_columns = df.select_dtypes(include=['object', 'category']).columns

    # print categorical columns and their unique values
    for col in categorical_columns:
        unique_values = df[col].unique()
        print(f"Column '{col}' has unique values: {unique_values}")

#### Overview of Vehicle Crashes: Crashes. 
Viewing top 5 elemets, listing columns, listing unique values in categorical columns.

In [8]:
# view datasets
df_crashes.head()

,CRASH_RECORD_ID,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,NaN,08/18/2023 12:50:00 PM,15,OTHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,OTHER,...,1.0,0.0,1.0,0.0,12,6,8,NaN,NaN,NaN
1,5f54a59fcb087b12ae5b1acff96a3caf4f2d37e79f8db4...,NaN,07/29/2023 02:45:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,1.0,0.0,14,7,7,41.854120,-87.665902,POINT (-87.665902342962 41.854120262952)
2,61fcb8c1eb522a6469b460e2134df3d15f82e81fd93e9c...,NaN,08/18/2023 05:58:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PEDALCYCLIST,NOT DIVIDED,...,1.0,0.0,1.0,0.0,17,6,8,41.942976,-87.761883,POINT (-87.761883496974 41.942975745006)
3,004cd14d0303a9163aad69a2d7f341b7da2a8572b2ab33...,NaN,11/26/2019 08:38:00 AM,25,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PEDESTRIAN,ONE-WAY,...,0.0,0.0,1.0,0.0,8,3,11,NaN,NaN,NaN
4,a1d5f0ea90897745365a4cbb06cc60329a120d89753fac...,NaN,08/18/2023 10:45:00 AM,20,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,FIXED OBJECT,OTHER,...,0.0,0.0,1.0,0.0,10,6,8,NaN,NaN,NaN

In [11]:
# print column names
df_crashes.columns

Index(['CRASH_RECORD_ID', 'CRASH_DATE_EST_I', 'CRASH_DATE',
       'POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION',
       'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE',
       'TRAFFICWAY_TYPE', 'LANE_CNT', 'ALIGNMENT', 'ROADWAY_SURFACE_COND',
       'ROAD_DEFECT', 'REPORT_TYPE', 'CRASH_TYPE', 'INTERSECTION_RELATED_I',
       'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DAMAGE', 'DATE_POLICE_NOTIFIED',
       'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO',
       'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
       'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS',
       'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
       'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [24]:
# unique values for categorical columns.
display_categorical_vals(df_crashes)

Column 'CRASH_RECORD_ID' has unique values: ['6c1659069e9c6285a650e70d6f9b574ed5f64c12888479093dfeef179c0344ec6d2057eae224b5c0d5dfc278c0a237f8c22543f07fdef2e4a95a3849871c9345'
 '5f54a59fcb087b12ae5b1acff96a3caf4f2d37e79f8db4106558b34b8a6d2b81af02cf91b576ecd7ced08ffd10fcfd940a84f7613125b89d33636e6075064e22'
 '61fcb8c1eb522a6469b460e2134df3d15f82e81fd93e9cafd3dc7e631b9e1ba8b450a63af12bd90d1d2d9b127ea287f88d32e138a4eeba17799f536c08048934'
 ...
 '61c8dcd63fae60613bc9ec526fa901420cbe99a6d35840052c27bbd0cf1f8d6af74ff575276d3795f26878601232f6b9297b250a3499b62a96373e068134d21a'
 'bc2876dcd7c4098806301cb646232eb8f65c86a4f418b70f90391ab5dee6c889b5511da3e2c3666f19cc4e30df20e078ac9234cca189952b3dd18716dacaafd4'
 '6dee8823d4ae96624b741428681d19f50b5960418b6d790275e76ec34ee74f1b85ea13fab7248a863dc3761b4c1a7d96a18e6c8b1bd5777d665971ec3ab5598c']
Column 'CRASH_DATE_EST_I' has unique values: [nan 'Y' 'N']
Column 'CRASH_DATE' has unique values: ['08/18/2023 12:50:00 PM' '07/29/2023 02:45:00 PM'
 '08/18/2023 05:58:00 PM' ... '06/08/2020 12:57:00 PM'
 '07/10/2023 12:29:00 PM' '09/02/2023 06:25:00 PM']
Column 'TRAFFIC_CONTROL_DEVICE' has unique values: ['OTHER' 'TRAFFIC SIGNAL' 'NO CONTROLS' 'STOP SIGN/FLASHER' 'UNKNOWN'
 'OTHER WARNING SIGN' 'OTHER REG. SIGN' 'YIELD' 'PEDESTRIAN CROSSING SIGN'
 'LANE USE MARKING' 'RAILROAD CROSSING GATE' 'FLASHING CONTROL SIGNAL'
 'SCHOOL ZONE' 'POLICE/FLAGMAN' 'DELINEATORS' 'OTHER RAILROAD CROSSING'
 'RR CROSSING SIGN' 'NO PASSING' 'BICYCLE CROSSING SIGN']
Column 'DEVICE_CONDITION' has unique values: ['FUNCTIONING PROPERLY' 'NO CONTROLS' 'FUNCTIONING IMPROPERLY' 'UNKNOWN'
 'OTHER' 'NOT FUNCTIONING' 'MISSING' 'WORN REFLECTIVE MATERIAL']
Column 'WEATHER_CONDITION' has unique values: ['CLEAR' 'SNOW' 'UNKNOWN' 'RAIN' 'CLOUDY/OVERCAST' 'FOG/SMOKE/HAZE'
 'BLOWING SNOW' 'FREEZING RAIN/DRIZZLE' 'OTHER' 'SEVERE CROSS WIND GATE'
 'SLEET/HAIL' 'BLOWING SAND, SOIL, DIRT']
Column 'LIGHTING_CONDITION' has unique values: ['DAYLIGHT' 'DARKNESS, LIGHTED ROAD' 'DARKNESS' 'UNKNOWN' 'DUSK' 'DAWN']
Column 'FIRST_CRASH_TYPE' has unique values: ['REAR END' 'PARKED MOTOR VEHICLE' 'PEDALCYCLIST' 'PEDESTRIAN'
 'FIXED OBJECT' 'TURNING' 'ANGLE' 'SIDESWIPE SAME DIRECTION'
 'SIDESWIPE OPPOSITE DIRECTION' 'REAR TO SIDE' 'HEAD ON' 'REAR TO FRONT'
 'OTHER OBJECT' 'ANIMAL' 'OTHER NONCOLLISION' 'OVERTURNED' 'REAR TO REAR'
 'TRAIN']
Column 'TRAFFICWAY_TYPE' has unique values: ['OTHER' 'DIVIDED - W/MEDIAN (NOT RAISED)' 'NOT DIVIDED' 'ONE-WAY'
 'FOUR WAY' 'PARKING LOT' 'DIVIDED - W/MEDIAN BARRIER' 'T-INTERSECTION'
 'UNKNOWN' 'RAMP' 'ALLEY' 'DRIVEWAY' 'UNKNOWN INTERSECTION TYPE'
 'TRAFFIC ROUTE' 'FIVE POINT, OR MORE' 'NOT REPORTED' 'CENTER TURN LANE'
 'L-INTERSECTION' 'Y-INTERSECTION' 'ROUNDABOUT']
Column 'ALIGNMENT' has unique values: ['STRAIGHT AND LEVEL' 'CURVE ON GRADE' 'CURVE, LEVEL' 'STRAIGHT ON GRADE'
 'STRAIGHT ON HILLCREST' 'CURVE ON HILLCREST']
Column 'ROADWAY_SURFACE_COND' has unique values: ['DRY' 'UNKNOWN' 'SNOW OR SLUSH' 'WET' 'OTHER' 'ICE' 'SAND, MUD, DIRT']
Column 'ROAD_DEFECT' has unique values: ['NO DEFECTS' 'UNKNOWN' 'DEBRIS ON ROADWAY' 'OTHER' 'WORN SURFACE'
 'SHOULDER DEFECT' 'RUT, HOLES']
Column 'REPORT_TYPE' has unique values: ['ON SCENE' 'NOT ON SCENE (DESK REPORT)' nan 'AMENDED']
Column 'CRASH_TYPE' has unique values: ['INJURY AND / OR TOW DUE TO CRASH' 'NO INJURY / DRIVE AWAY']
Column 'INTERSECTION_RELATED_I' has unique values: [nan 'Y' 'N']
Column 'NOT_RIGHT_OF_WAY_I' has unique values: [nan 'Y' 'N']
Column 'HIT_AND_RUN_I' has unique values: [nan 'Y' 'N']
Column 'DAMAGE' has unique values: ['OVER $1,500' '$501 - $1,500' '$500 OR LESS']
Column 'DATE_POLICE_NOTIFIED' has unique values: ['08/18/2023 12:55:00 PM' '07/29/2023 02:45:00 PM'
 '08/18/2023 06:01:00 PM' ... '07/10/2023 01:05:00 PM'
 '05/28/2023 02:40:00 AM' '09/02/2023 07:46:00 PM']
Column 'PRIM_CONTRIBUTORY_CAUSE' has unique values: ['FOLLOWING TOO CLOSELY' 'FAILING TO REDUCE SPEED TO AVOID CRASH'
 'UNABLE TO DETERMINE' 'IMPROPER BACKING' 'IMPROPER TURNING/NO SIGNAL'
 'NOT APPLICABLE' 'WEATHER' 'IMPROPER OVERTAKING/PASSING'
 'DRIVING SKILLS/KNOWLEDGE/EXPERIENCE' 'IMPROPER LANE USAGE'
 'VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)'
 'ROAD ENGINEERING/SURFACE/MARKING DEFECTS'
 'FAILING TO YIELD RIGHT-OF-WAY' 'EQUIPMENT - VEHICLE CONDITION'
 'RELATED TO BUS STOP' 'DISREGARDING OTHER TRAFFIC SIGNS'
 'DRIVING ON WRONG SIDE/WRONG WAY' 'ROAD CONSTRUCTION/MAINTENANCE'
 'DISTRACTION - FROM INSIDE VEHICLE' 'ANIMAL' 'TEXTING'
 'DISREGARDING TRAFFIC SIGNALS' 'DISREGARDING ROAD MARKINGS'
 'CELL PHONE USE OTHER THAN TEXTING' 'DISREGARDING STOP SIGN'
 'OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER'
 'EXCEEDING AUTHORIZED SPEED LIMIT' 'DISTRACTION - FROM OUTSIDE VEHICLE'
 'PHYSICAL CONDITION OF DRIVER' 'EXCEEDING SAFE SPEED FOR CONDITIONS'
 'DISREGARDING YIELD SIGN' 'TURNING RIGHT ON RED'
 'UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)'
 'EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST'
 'HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)'
 'DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)'
 'OBSTRUCTED CROSSWALKS' 'BICYCLE ADVANCING LEGALLY ON RED LIGHT'
 'PASSING STOPPED SCHOOL BUS' 'MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT']
Column 'SEC_CONTRIBUTORY_CAUSE' has unique values: ['DISTRACTION - FROM INSIDE VEHICLE'
 'OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER'
 'UNABLE TO DETERMINE' 'NOT APPLICABLE'
 'DRIVING SKILLS/KNOWLEDGE/EXPERIENCE' 'WEATHER'
 'FAILING TO YIELD RIGHT-OF-WAY' 'FAILING TO REDUCE SPEED TO AVOID CRASH'
 'IMPROPER TURNING/NO SIGNAL' 'IMPROPER OVERTAKING/PASSING'
 'FOLLOWING TOO CLOSELY' 'DISREGARDING STOP SIGN'
 'ROAD CONSTRUCTION/MAINTENANCE' 'IMPROPER LANE USAGE'
 'DISTRACTION - FROM OUTSIDE VEHICLE' 'DISREGARDING TRAFFIC SIGNALS'
 'DRIVING ON WRONG SIDE/WRONG WAY' 'EQUIPMENT - VEHICLE CONDITION'
 'IMPROPER BACKING' 'VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)'
 'PHYSICAL CONDITION OF DRIVER' 'EXCEEDING SAFE SPEED FOR CONDITIONS'
 'BICYCLE ADVANCING LEGALLY ON RED LIGHT'
 'EXCEEDING AUTHORIZED SPEED LIMIT'
 'DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)'
 'UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)'
 'ROAD ENGINEERING/SURFACE/MARKING DEFECTS'
 'EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST' 'ANIMAL'
 'DISREGARDING ROAD MARKINGS' 'DISREGARDING OTHER TRAFFIC SIGNS'
 'CELL PHONE USE OTHER THAN TEXTING'
 'HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)' 'TURNING RIGHT ON RED'
 'PASSING STOPPED SCHOOL BUS' 'RELATED TO BUS STOP'
 'MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT' 'DISREGARDING YIELD SIGN'
 'OBSTRUCTED CROSSWALKS' 'TEXTING']
Column 'STREET_DIRECTION' has unique values: ['W' 'S' 'N' 'E' nan]
Column 'STREET_NAME' has unique values: ['OHARE ST' 'ASHLAND AVE' 'LONG AVE' ... 'THOMPSON DR' 'DOUGLAS DR'
 '29TH PL']
Column 'PHOTOS_TAKEN_I' has unique values: [nan 'Y' 'N']
Column 'STATEMENTS_TAKEN_I' has unique values: [nan 'Y' 'N']
Column 'DOORING_I' has unique values: [nan 'Y' 'N']
Column 'WORK_ZONE_I' has unique values: [nan 'Y' 'N']
Column 'WORK_ZONE_TYPE' has unique values: [nan 'CONSTRUCTION' 'UTILITY' 'UNKNOWN' 'MAINTENANCE']
Column 'WORKERS_PRESENT_I' has unique values: [nan 'Y' 'N']
Column 'MOST_SEVERE_INJURY' has unique values: ['NONINCAPACITATING INJURY' 'NO INDICATION OF INJURY' 'FATAL'
 'REPORTED, NOT EVIDENT' 'INCAPACITATING INJURY' nan]
Column 'LOCATION' has unique values: [nan 'POINT (-87.665902342962 41.854120262952)'
 'POINT (-87.761883496974 41.942975745006)' ...
 'POINT (-87.641596011467 41.756217389831)'
 'POINT (-87.581784088558 41.72774434911)'
 'POINT (-87.740145109395 41.94451595115)']

#### Takeaways after initial overview:
* The dataset `Traffic Crashes: Crashes` has 48 columns and 854910 data entries;
* The dataset has a primary key `CRASH_RECORD_ID`.
* The dataset has a target column `PRIM_CONTRIBUTORY_CAUSE`.
* The dataset contains information about the road conditions, traffic devices, road type. 
* Proposed columns to drop:

In [25]:
cols_to_drop_df_crashes = ['CRASH_DATE_EST_I', \
                           'REPORT_TYPE', 'HIT_AND_RUN_I', 'DAMAGE', \
                           'DATE_POLICE_NOTIFIED', 'STREET_NO',
       'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I',
       'NUM_UNITS','MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
       'INJURIES_UNKNOWN',
       'LATITUDE', 'LONGITUDE', 'LOCATION']

#### Overview of Vehicle Crashes: People. 
Viewing top 5 elemets, listing columns, listing unique values in categorical columns.

In [9]:
df_people.head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,M,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,X,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,NaN,X,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,NaN,X,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [12]:
df_people.columns

Index(['PERSON_ID', 'PERSON_TYPE', 'CRASH_RECORD_ID', 'VEHICLE_ID',
       'CRASH_DATE', 'SEAT_NO', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
       'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'SAFETY_EQUIPMENT',
       'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
       'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY',
       'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT VALUE',
       'CELL_PHONE_USE'],
      dtype='object')

In [23]:
display_categorical_vals(df_people)

Column 'PERSON_ID' has unique values: ['O749947' 'O871921' 'O10018' ... 'P411567' 'P411568' 'P411569']
Column 'PERSON_TYPE' has unique values: ['DRIVER' 'PASSENGER' 'PEDESTRIAN' 'BICYCLE' 'NON-MOTOR VEHICLE'
 'NON-CONTACT VEHICLE']
Column 'CRASH_RECORD_ID' has unique values: ['81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554932773284e51271e820d7a3c2398fa53636ac3b5b9004d27ee725ff26cfe65ce9b7869b67572e8f17d'
 'af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568963d242f4b42bd91abfe2e5a046370df528b37a30d594ab2921c37f38f59f7db8863e2e2fa3e9dfa1f'
 '71162af7bf22799b776547132ebf134b5b438dcf3dac6b1ccc744e423da96652f8b51ba415f677df81aa76b994674618744fa0547e1216f32cf320324dcc732e'
 ...
 '5b94999fd7e8057a65771acc3a7811ce625a6715196aa8099efb0c76cf4b5f3c8fcdb967c8800f451b6bddbc6445d4f7002be951f1b21ac60112939c89675009'
 '4795d2b77a415c8f891bcf60f64eaacfc70b7b4d3b38f7514083e3894d86f297c8377ee7e2a7b53b843514233deca1e94cc9495a7e2ca0bb7d7e7bc42c044023'
 'aedab45aa3253b963b77823a1e5a20cbdce25cf524486d9d5623cd0d6c6641b2e9ca35e2642566cce2426e84356c87d2fac5a1a0635d8a7d512f61430a250d8d']
Column 'CRASH_DATE' has unique values: ['09/28/2019 03:30:00 AM' '04/13/2020 10:50:00 PM'
 '11/01/2015 05:00:00 AM' ... '07/03/2024 06:32:00 PM'
 '07/03/2024 06:34:00 PM' '07/03/2024 11:58:00 PM']
Column 'CITY' has unique values: ['CHICAGO' nan 'CALUMENT CITY' ... 'LOMBAED' 'UVALDE' 'FRENCHTOWN']
Column 'STATE' has unique values: ['IL' nan 'LA' 'IN' 'XX' 'WI' 'KY' 'NY' 'WA' 'CA' 'MI' 'AL' 'GA' 'NV' 'PA'
 'AR' 'SC' 'IA' 'OH' 'TX' 'MO' 'NC' 'FL' 'CO' 'NJ' 'MN' 'NB' 'OK' 'TN'
 'AZ' 'VA' 'MT' 'DE' 'NM' 'DC' 'CT' 'WV' 'MD' 'SD' 'KS' 'ID' 'MA' 'UT'
 'MS' 'ME' 'WY' 'HI' 'NH' 'OR' 'ND' 'RI' 'VT' 'AK']
Column 'ZIPCODE' has unique values: ['60651' '60620' nan ... '00808' '08825' '80030']
Column 'SEX' has unique values: ['M' 'X' 'F' nan]
Column 'DRIVERS_LICENSE_STATE' has unique values: ['IL' nan 'XX' 'OK' 'IN' 'WI' 'KY' 'NH' 'NY' 'MM' 'MS' 'WA' 'CA' 'MI' 'AL'
 'NV' 'PA' 'AR' 'SC' 'LA' 'IA' 'OH' 'FL' 'BD' 'PR' 'TX' 'DF' 'MO' 'NG'
 'RC' 'NC' 'CO' 'NJ' 'MN' 'NB' 'BC' 'GA' 'JM' 'AZ' 'ON' 'KZ' 'TN' 'RI'
 'VA' 'MT' 'NM' 'DC' 'CT' 'HI' 'DE' 'OR' 'WV' 'MD' 'KS' 'AS' 'II' 'SD'
 'GG' 'MA' 'UT' 'VT' 'B1' 'ND' 'NZ' 'ID' 'WY' 'QR' 'FN' 'AN' 'YY' 'LD'
 'RU' 'SB' 'BU' 'RA' 'CK' 'HD' 'ME' 'CL' 'CD' 'PQ' 'SP' 'MB' 'KT' 'GU'
 'JL' 'SO' 'WG' 'MG' 'TC' 'VZ' 'TY' 'CU' 'DO' 'SF' 'UK' 'AK' 'AG' 'DR'
 'IS' 'PO' 'CH' 'US' 'KU' 'CB' 'MC' 'RF' 'EM' 'SG' 'GR' 'HK' 'EN' 'PT'
 'NS' 'EU' 'PB' 'PK' 'LH' 'JO' 'GM' 'IE' 'NU' 'CE' 'HL' 'EL' 'KO' 'NL'
 'EY' 'PU' 'GT' 'BH' 'TH' 'NW' 'SR' 'SQ' 'BA' 'SX' 'BZ' 'QU' 'VC' 'BO'
 'VI' 'MW' 'GP' 'ZA' 'CW' 'TA' 'LB' 'GK' 'FG' 'IT' 'GC' 'BF' 'BV' 'SL'
 'JA' 'IX' 'PI' 'BE' 'UZ' 'YG' 'DH' 'AV' 'HN' 'NN' 'TW' 'TT' 'FD' 'PM'
 'LS' 'KN' 'AM' 'IR' 'SN' 'NI' 'NX' 'DK' 'SZ' 'BJ' 'UV' 'NK' 'MR' 'HU'
 'CQ' 'LU' 'ZD' 'ES' 'AA' 'AT' 'CR' 'CY' 'MZ' 'QA' 'IO' 'BP' 'NT' 'AO'
 'MU' 'ZM' 'AU' 'OA' 'TJ' 'MQ' 'CI' 'UR' 'CJ' 'NF' 'SI' 'HT' 'KE' 'YU'
 'MY']
Column 'DRIVERS_LICENSE_CLASS' has unique values: ['D' nan 'B' '9' 'A' 'BM' 'DM' 'AM' 'C' '99' 'CO' 'DL' 'DV' 'O' 'UN' 'AB'
 'CB' 'DA' 'CD' 'D*' 'E' 'NO' 'M' 'X' 'CM' '`' 'U' 'UK' 'F' 'IP' '1' 'G'
 'TV' 'S' 'EM' '3' '0' 'R' 'G2' 'L' 'CP' 'EO' 'PS' '10' 'LM' '00' 'DE'
 'CA' 'CL' 'OP' 'DD' 'N' 'P' ']' 'BE' 'K' 'PC' 'DF' 'IL' 'AC' 'XD' '4D'
 'NN' 'ID' 'D`' 'MC' 'J' 'C*' 'AL' 'CR' 'A*' 'P1' 'H' 'CJ' 'B*' 'Z' '5'
 'RG' 'T' '`D' 'ND' 'PB' 'BC' 'RV' 'OL' '2' 'EC' 'NT' '02' 'OR' 'GM' 'SU'
 'BD' 'DC' 'AD' 'GE' 'V' 'DQ' 'IF' 'TX' 'PD' 'KL' 'TL' 'LP' '2B' 'W' 'A3'
 'TD' '1F' ',D' '4A' 'I' 'LA' 'CC' 'BF' '-' 'ST' '3E' 'VL' 'HZ' 'TM' 'RE'
 'PE' '9A' 'DN' 'P2' 'DU' 'LL' 'MA' 'D1' '31' 'C1' 'BN' '16' 'DR' '4' 'MD'
 '*D' '.D' '6A' '08' '0A' 'OM' 'EB' 'KM' 'D7' 'MB' 'BL' 'XX' 'DS' 'E0'
 'NV' 'Q' 'OA' 'EQ' 'AZ' 'O+' 'CI' 'M2' 'HG' 'AV' 'SD' 'ED' '2C' '``' 'DX'
 'OH' 'CH' ';' 'CG' '1W' 'A,' '2F' 'BX' 'A+' 'AN' 'BK' 'D6' 'C2' 'AA' 'DB'
 'ER' 'Y' 'G1' 'IN' 'PP' 'TP' '9B' 'DZ' 'PR' 'AX' 'WD' '09' 'CV' '--' 'GN'
 '1A' 'AW' '5B' '??' 'F1' 'EX' 'D.' '11' 'HH' '56' 'NC' 'MN' 'WI' '01'
 'PT' 'A`' 'TK' 'A1' 'EK' 'D,' 'LY' 'CY' 'MO' 'JM' 'RO' '.' 'TR' 'E,' 'GV'
 'PA' 'LD' 'DO' 'TB' 'NP' 'UB' 'FD' 'CN' '\\D' 'IS' 'M1' 'MX' 'BV' '19'
 'AR' 'UP' 'TA' '?' '6' '\\' 'B1' 'VD' '2P' 'HC' 'D"' 'DP' 'A2' 'LT' 'E`'
 'AF' 'BG' 'N0' 'YA' 'SP' 'B2' 'FR' 'LN' 'AP' 'OJ' 'IT' 'DJ' 'PM' 'CF'
 '2D' '12' 'B+' '1G' 'MP' '51' 'CQ' 'D9' 'SC' '*A' '05' 'DW' '*C' 'JR'
 '1B' 'DH' 'PV' 'RF']
Column 'SAFETY_EQUIPMENT' has unique values: ['NONE PRESENT' 'SAFETY BELT USED' 'USAGE UNKNOWN'
 'DOT COMPLIANT MOTORCYCLE HELMET' nan 'HELMET NOT USED'
 'SAFETY BELT NOT USED' 'BICYCLE HELMET (PEDACYCLIST INVOLVED ONLY)'
 'SHOULD/LAP BELT USED IMPROPERLY' 'CHILD RESTRAINT USED' 'WHEELCHAIR'
 'NOT DOT COMPLIANT MOTORCYCLE HELMET' 'CHILD RESTRAINT NOT USED'
 'CHILD RESTRAINT USED IMPROPERLY' 'HELMET USED'
 'CHILD RESTRAINT - TYPE UNKNOWN' 'CHILD RESTRAINT - REAR FACING'
 'CHILD RESTRAINT - FORWARD FACING' 'BOOSTER SEAT' 'STRETCHER']
Column 'AIRBAG_DEPLOYED' has unique values: ['DEPLOYMENT UNKNOWN' 'DID NOT DEPLOY' 'NOT APPLICABLE'
 'DEPLOYED, COMBINATION' 'DEPLOYED, SIDE' 'DEPLOYED, FRONT' nan
 'DEPLOYED OTHER (KNEE, AIR, BELT, ETC.)']
Column 'EJECTION' has unique values: ['NONE' 'UNKNOWN' 'TOTALLY EJECTED' nan 'TRAPPED/EXTRICATED'
 'PARTIALLY EJECTED']
Column 'INJURY_CLASSIFICATION' has unique values: ['NO INDICATION OF INJURY' 'REPORTED, NOT EVIDENT'
 'NONINCAPACITATING INJURY' 'INCAPACITATING INJURY' 'FATAL' nan]
Column 'HOSPITAL' has unique values: [nan 'REFUSED' 'DNA' ... 'ST. FRANCIS TRAUMA 1' 'SAINTS ANTHONY'
 'SINAI PATIENT RIDING IN AMB BEFORE ACCIDENT']
Column 'EMS_AGENCY' has unique values: [nan 'CFD #66' 'DNA' ... 'A6' 'E62' 'CFD  #19']
Column 'EMS_RUN_NO' has unique values: [nan '22' '4' ... 'TRUCK 122' 'ENGINE #116' '241842063']
Column 'DRIVER_ACTION' has unique values: ['UNKNOWN' 'NONE' 'IMPROPER BACKING' 'IMPROPER TURN'
 'DISREGARDED CONTROL DEVICES' 'TOO FAST FOR CONDITIONS' 'OTHER'
 'FOLLOWED TOO CLOSELY' 'IMPROPER LANE CHANGE' 'IMPROPER PASSING'
 'FAILED TO YIELD' nan 'EVADING POLICE VEHICLE' 'OVERCORRECTED'
 'WRONG WAY/SIDE' 'TEXTING' 'IMPROPER PARKING' 'EMERGENCY VEHICLE ON CALL'
 'CELL PHONE USE OTHER THAN TEXTING' 'STOPPED SCHOOL BUS'
 'LICENSE RESTRICTIONS']
Column 'DRIVER_VISION' has unique values: ['UNKNOWN' 'NOT OBSCURED' 'WINDSHIELD (WATER/ICE)' 'BLINDED - HEADLIGHTS'
 nan 'PARKED VEHICLES' 'MOVING VEHICLES' 'OTHER' 'BLOWING MATERIALS'
 'BLINDED - SUNLIGHT' 'TREES, PLANTS' 'BUILDINGS' 'HILLCREST' 'EMBANKMENT'
 'SIGNBOARD']
Column 'PHYSICAL_CONDITION' has unique values: ['UNKNOWN' 'NORMAL' 'IMPAIRED - DRUGS' 'REMOVED BY EMS' nan
 'IMPAIRED - ALCOHOL' 'FATIGUED/ASLEEP' 'EMOTIONAL' 'OTHER'
 'HAD BEEN DRINKING' 'IMPAIRED - ALCOHOL AND DRUGS' 'ILLNESS/FAINTED'
 'MEDICATED']
Column 'PEDPEDAL_ACTION' has unique values: [nan 'CROSSING - WITH SIGNAL' 'NO ACTION' 'STANDING IN ROADWAY'
 'PARKED VEHICLE' 'CROSSING - NO CONTROLS (NOT AT INTERSECTION)'
 'OTHER ACTION' 'CROSSING - CONTROLS PRESENT (NOT AT INTERSECTION)'
 'WITH TRAFFIC' 'UNKNOWN/NA' 'CROSSING - NO CONTROLS (AT INTERSECTION)'
 'NOT AT INTERSECTION' 'CROSSING - AGAINST SIGNAL' 'TURNING RIGHT'
 'AGAINST TRAFFIC' 'WORKING IN ROADWAY' 'INTOXICATED PED/PEDAL'
 'TURNING LEFT' 'ENTER FROM DRIVE/ALLEY' 'PLAYING/WORKING ON VEHICLE'
 'PLAYING IN ROADWAY' 'SCHOOL BUS (WITHIN 50 FT.)'
 'TO/FROM DISABLED VEHICLE' 'WAITING FOR SCHOOL BUS']
Column 'PEDPEDAL_VISIBILITY' has unique values: [nan 'NO CONTRASTING CLOTHING' 'CONTRASTING CLOTHING'
 'OTHER LIGHT SOURCE USED' 'REFLECTIVE MATERIAL']
Column 'PEDPEDAL_LOCATION' has unique values: [nan 'IN CROSSWALK' 'IN ROADWAY' 'NOT IN ROADWAY' 'UNKNOWN/NA'
 'DRIVEWAY ACCESS' 'BIKE LANE' 'BIKEWAY' 'SHOULDER']
Column 'BAC_RESULT' has unique values: ['TEST NOT OFFERED' nan 'TEST TAKEN' 'TEST REFUSED'
 'TEST PERFORMED, RESULTS UNKNOWN']
Column 'CELL_PHONE_USE' has unique values: [nan 'N' 'Y']

#### Takeaways after initial overview:
* The dataset `Traffic Crashes: People` has 29 columns and 1877321 data entries;
* The dataset has a primary kery `PERSON_ID` and two non-primary keys:`CRASH_RECORD_ID`, `VEHICLE_ID`.
* The dataset contains information about the vehicle occupants. 
* Proposed columns to drop:

In [ ]:
cols_to_drop_df_people = ['CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
       'DRIVERS_LICENSE_STATE', 'SAFETY_EQUIPMENT',
       'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
       'EMS_AGENCY', 'EMS_RUN_NO']

#### Overview of Vehicle Crashes: Vehicles. 
Viewing top 5 elemets, listing columns, listing unique values in categorical columns.

In [10]:
df_vehicles.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1727162,f5943b05f46b8d4148a63b7506a59113eae0cf1075aabc...,12/21/2023 08:57:00 AM,2,PEDESTRIAN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1717556,7b1763088507f77e0e552c009a6bf89a4d6330c7527706...,12/06/2023 03:24:00 PM,1,DRIVER,NaN,1634931.0,NaN,NISSAN,SENTRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1717574,2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...,12/06/2023 04:00:00 PM,2,DRIVER,NaN,1634978.0,NaN,CHRYSLER,SEBRING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1717579,a52ef70e33d468b855b5be44e8638a564434dcf99c0edf...,12/06/2023 04:30:00 PM,1,DRIVER,NaN,1634948.0,NaN,SUBARU,OUTBACK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720118,609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...,12/10/2023 12:12:00 PM,1,DRIVER,NaN,1637401.0,NaN,TOYOTA,RAV4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_vehicles.columns

Index(['CRASH_UNIT_ID', 'CRASH_RECORD_ID', 'CRASH_DATE', 'UNIT_NO',
       'UNIT_TYPE', 'NUM_PASSENGERS', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE',
       'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_YEAR', 'VEHICLE_DEFECT',
       'VEHICLE_TYPE', 'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER',
       'TOWED_I', 'FIRE_I', 'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY',
       'TOWED_TO', 'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I',
       'AREA_04_I', 'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I',
       'AREA_09_I', 'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I',
       'FIRST_CONTACT_POINT', 'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO',
       'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME', 'CARRIER_STATE',
       'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO',
       'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO',
       'MCS_REPORT_I', 'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I',
       'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO', 'WIDE_LOAD_I',
       'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH',
       'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'VEHICLE_CONFIG',
       'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',
       'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS'],
      dtype='object')

In [27]:
display_categorical_vals(df_vehicles)

Column 'CRASH_RECORD_ID' has unique values: ['f5943b05f46b8d4148a63b7506a59113eae0cf1075aabca4408e733f6f9de735fb237fe5c15f032ea3b70e89a3c445f750f576fba089f421c9e99f17bdacf0d9'
 '7b1763088507f77e0e552c009a6bf89a4d6330c75277067fe4c9c8081d86be3db49c1f283c6bcf64b690e03175db497c49aaa3456b5e3c858b3e013dabc1228e'
 '2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b0edb576f26e0d17decfa6d65506e65b16db5ef12628f2a02cbfcfcbfc97782d28c8f7fdda5a34e9f75'
 ...
 'd49cd71c0149c0e957f252725ed0cd5e8b1f10a03aa9db3596867207dc4788ce4e29f90b65dde6d549776a7970ef06037761bd9e7c72bcfb770d2989213a227c'
 'f83b83bab36c775a70a45aae757daa7193dfa024009bf0cdebdf98c2ebc552f79073a99065ce254f5b4c88ccafd6e7b9c6b470b106fdaab8239d9ac7cee0a9d5'
 '6509398fcca80bc2af582f0ad4a1be2eb803df27d35d2fbefb22e13ca601f889dd454f1d2dd9b6bd92c766f25e1011b17dc8f7a70c8a2f2c0dfb988f1114ce64']
Column 'CRASH_DATE' has unique values: ['12/21/2023 08:57:00 AM' '12/06/2023 03:24:00 PM'
 '12/06/2023 04:00:00 PM' ... '07/18/2024 11:09:00 PM'
 '07/18/2024 11:53:00 PM' '07/18/2024 11:49:00 PM']
Column 'UNIT_TYPE' has unique values: ['PEDESTRIAN' 'DRIVER' 'PARKED' 'BICYCLE' nan 'DRIVERLESS'
 'NON-CONTACT VEHICLE' 'NON-MOTOR VEHICLE' 'DISABLED VEHICLE' 'EQUESTRIAN']
Column 'CMRC_VEH_I' has unique values: [nan 'N' 'Y']
Column 'MAKE' has unique values: [nan 'NISSAN' 'CHRYSLER' ... 'U.S. ELECTRICAR CORPORATION'
 'TRAVIS TRAILER' 'TRAC-MACHINERY (MANUFACTURED BY E.O. ETNYRE & COMPANY)']
Column 'MODEL' has unique values: [nan 'SENTRA' 'SEBRING' ... 'VISION' 'TRAVIS TRAILER'
 'TRAC-MACHINERY, E.O. ETNYRE & CO.']
Column 'LIC_PLATE_STATE' has unique values: [nan 'IL' 'OK' 'IN' 'AZ' 'KS' 'XX' 'WI' 'FL' 'WA' 'MN' 'IA' 'CO' 'TX' 'MI'
 'LA' 'OH' 'AR' 'MT' 'NJ' 'MO' 'NV' 'GA' 'PA' 'VA' 'MS' 'MD' 'KY' 'NY'
 'UT' 'OR' 'ND' 'VT' 'CA' 'ID' 'WV' 'AL' 'NB' 'DC' 'NC' 'ME' 'MA' 'TN'
 'SC' 'WY' 'RI' 'CT' 'NM' 'HI' 'AK' 'SD' 'NH' 'DE']
Column 'VEHICLE_DEFECT' has unique values: [nan 'UNKNOWN' 'NONE' 'OTHER' 'BRAKES' 'TIRES' 'STEERING' 'ENGINE/MOTOR'
 'WHEELS' 'SUSPENSION' 'CARGO' 'FUEL SYSTEM' 'SIGNALS' 'LIGHTS'
 'TRAILER COUPLING' 'WINDOWS' 'RESTRAINT SYSTEM' 'EXHAUST']
Column 'VEHICLE_TYPE' has unique values: [nan 'UNKNOWN/NA' 'PASSENGER' 'SPORT UTILITY VEHICLE (SUV)' 'VAN/MINI-VAN'
 'TRUCK - SINGLE UNIT' 'BUS OVER 15 PASS.' 'PICKUP' 'OTHER'
 'TRACTOR W/ SEMI-TRAILER' 'SINGLE UNIT TRUCK WITH TRAILER'
 'TRACTOR W/O SEMI-TRAILER' 'OTHER VEHICLE WITH TRAILER'
 'BUS UP TO 15 PASS.' 'MOTORCYCLE (OVER 150CC)' 'AUTOCYCLE'
 'MOPED OR MOTORIZED BICYCLE' 'FARM EQUIPMENT'
 'RECREATIONAL OFF-HIGHWAY VEHICLE (ROV)' 'ALL-TERRAIN VEHICLE (ATV)'
 'SNOWMOBILE' '3-WHEELED MOTORCYCLE (2 REAR WHEELS)' 'MOTOR DRIVEN CYCLE']
Column 'VEHICLE_USE' has unique values: [nan 'UNKNOWN/NA' 'PERSONAL' 'AMBULANCE' 'OTHER' 'CTA' 'NOT IN USE'
 'TOW TRUCK' 'TAXI/FOR HIRE' 'POLICE' 'CONSTRUCTION/MAINTENANCE' 'FIRE'
 'MASS TRANSIT' 'RIDESHARE SERVICE' 'COMMERCIAL - SINGLE UNIT'
 'DRIVER EDUCATION' 'OTHER TRANSIT' 'LAWN CARE/LANDSCAPING'
 'COMMERCIAL - MULTI-UNIT' 'STATE OWNED' 'SCHOOL BUS'
 'CAMPER/RV - SINGLE UNIT' 'MILITARY' 'AGRICULTURE' 'HOUSE TRAILER'
 'CAMPER/RV - TOWED/MULTI-UNIT']
Column 'TRAVEL_DIRECTION' has unique values: [nan 'S' 'W' 'E' 'N' 'UNKNOWN' 'NE' 'SE' 'NW' 'SW']
Column 'MANEUVER' has unique values: [nan 'SLOW/STOP IN TRAFFIC' 'PASSING/OVERTAKING' 'TURNING RIGHT'
 'STRAIGHT AHEAD' 'ENTER FROM DRIVE/ALLEY' 'UNKNOWN/NA' 'BACKING'
 'ENTERING TRAFFIC LANE FROM PARKING' 'STARTING IN TRAFFIC' 'OTHER'
 'TURNING LEFT' 'CHANGING LANES' 'PARKED' 'SKIDDING/CONTROL LOSS'
 'AVOIDING VEHICLES/OBJECTS' 'MERGING' 'LEAVING TRAFFIC LANE TO PARK'
 'U-TURN' 'PARKED IN TRAFFIC LANE' 'NEGOTIATING A CURVE' 'DRIVERLESS'
 'DRIVING WRONG WAY' 'SLOW/STOP - LOAD/UNLOAD' 'DISABLED' 'TURNING ON RED'
 'DIVERGING' 'SLOW/STOP - LEFT TURN' 'SLOW/STOP - RIGHT TURN']
Column 'TOWED_I' has unique values: [nan 'Y' 'N']
Column 'FIRE_I' has unique values: [nan 'Y' 'N']
Column 'EXCEED_SPEED_LIMIT_I' has unique values: [nan 'Y' 'N']
Column 'TOWED_BY' has unique values: [nan 'streets and sanitation' 'owner' ... 'PRIVATE ARRANGED'
 'AMERICAN FAMILY IN' 'MELROSE TOWING']
Column 'TOWED_TO' has unique values: [nan 'pound 6' 'IMPOUND' ... '2807 W WILSON' 'Dotty road pound #2'
 '6756 S SOUTH CHICAGO AVE']
Column 'AREA_00_I' has unique values: [nan 'Y' 'N']
Column 'AREA_01_I' has unique values: [nan 'Y' 'N']
Column 'AREA_02_I' has unique values: [nan 'Y' 'N']
Column 'AREA_03_I' has unique values: [nan 'Y' 'N']
Column 'AREA_04_I' has unique values: [nan 'Y' 'N']
Column 'AREA_05_I' has unique values: [nan 'Y' 'N']
Column 'AREA_06_I' has unique values: [nan 'Y' 'N']
Column 'AREA_07_I' has unique values: [nan 'Y' 'N']
Column 'AREA_08_I' has unique values: [nan 'Y' 'N']
Column 'AREA_09_I' has unique values: [nan 'Y' 'N']
Column 'AREA_10_I' has unique values: [nan 'Y' 'N']
Column 'AREA_11_I' has unique values: [nan 'Y' 'N']
Column 'AREA_12_I' has unique values: [nan 'Y' 'N']
Column 'AREA_99_I' has unique values: [nan 'Y' 'N']
Column 'FIRST_CONTACT_POINT' has unique values: [nan 'FRONT' 'REAR-RIGHT-CORNER' 'SIDE-LEFT-FRONT' 'FRONT-LEFT-CORNER'
 'FRONT-RIGHT-CORNER' 'SIDE-RIGHT-FRONT' 'UNKNOWN' 'REAR' 'SIDE-LEFT-REAR'
 'SIDE-RIGHT-REAR' 'REAR-LEFT-CORNER' 'SIDE-LEFT' 'SIDE-RIGHT' 'NONE'
 'OTHER' 'TOTAL (ALL AREAS)' 'FRONT-RIGHT' 'REAR-LEFT' 'FRONT-LEFT'
 'REAR-RIGHT' 'UNDER CARRIAGE' 'TOP' 'ROOF']
Column 'USDOT_NO' has unique values: [nan '054283' '693614' ... '569440' '0305136' '3623155']
Column 'CCMC_NO' has unique values: [nan '321562' '334497' ... '881505' '187875' '433500']
Column 'ILCC_NO' has unique values: [nan '170589' '180532' '6545' '29822' '187830' 'UNK' '225746' '125229'
 '118558' '159826' '169607' '24082' '132864' '160861' '749094' '81805'
 '213517' '124009' '32949' '268946' '170278' '39881' '224707' '200941'
 '177524' '139933' '139931' '84153' '463822' '14120' '26000' '225011'
 '344936' '125867' '136899' '66371' '215694' '218496' '18058' '168287'
 '14236' '1996' '214560' '391797' 'UNKNOW' '140822' '228406' '302889'
 '211207' '103232' '136818' '3600' '211329' '134841' '178484' '184190'
 '51801' '804587' '293524' '080000' '218672' '138500' '216795' '226711'
 '531968' '136629' '224162' '80178' '119837' '12323' '013536' '58700'
 '315273' '85235' '217520' '125685' '215646' '155122' '731MC' '156290'
 '054486' '178033' '168324' '214288' '225798' '227566' '221234' '129830'
 '207728' '243057' '9776' 'NONE' '107443' '57947' '51821' '227253'
 '183265' '644288' '44037' '185260' '210174' '76472' '264919' '13596'
 '137072' '26921' '217606' '75443' '663370' '128203' '173514' '332810'
 '118318' '211175' '209459' '143436' '132712' '170963' '51034' '3148ML'
 '127011' '214825' '00H1' '14274' '227432' '180761' '440622' '228295'
 '71418' 'FL4075' '21062' '218877' '216081' '17605' '145699' '160859'
 '760230' '162620' '228373' '96017' '104746' '215884' '107210' 'S10427'
 '7575-1' '131092' '193112' '28838' '220582' '134983' '002558' '219951'
 '117460' '155870' '231567' 'S' '342107' '233174' '91443' '143142'
 '150518' '881852' '2643' '609612' '196518' '289115' '95325' '11673'
 '159006' '143388' '86921' '51034C' '216357' '353378' '25912' '26940A'
 '19129' 'PD00H1' '220000' '209777' '502722' '101332' '80000' '103333'
 '144006' 'S10102' '158678' '137073' '251704' '260223' '219921' '109567'
 '89958' '230595' '132117' '59808' '184643' '229483' '226489' '227607'
 '122539' '217545' '5496MC' '27115' '661114' '11748' '198621' '126475'
 '225301' '677' '315212' '67665' '137218' '386' '105192' '222632' '177683'
 '173570' '152745' '158051' '144701' '90337' '212453' '902775' '135906'
 '142665' '008715' '182995' '230737' '114437' '66364' '975873' '214064'
 '122032' '209955' '212465' '207446' '215576' '227314' '114232' '218995'
 '70855' '30410' '33032' '499725' '062954' '174841' '223880' '234173'
 '219816' '128556' '184039' '4884' '212366' '177554' '530246' '138398'
 '119205' '224188' '231817' 'WS58R' 'CXU613' '704' '7886' '10927' '219105'
 '258259' '159876' '78520' '153453' '158163' '235501' '5496' '187549'
 '155637' 'CL3186' '214625' '205685' '216594' '230143' '119048' '213823'
 '14621' '137600' '111664' '112695' '209740' '835450' '158911' '41623'
 '131066' '593361' '114457' 'S10436' '122385' '154506' '210818' '129409'
 '221444' '234112' '220012' '5184' '223621' '134520' '187747' '187494'
 '96589M' '151905' '231035' '65733' '139612' '54999' '186169' '278215'
 '131309' '26761' '8220' '631110' '179473' '216800' '145166' '43194'
 '136294' '5107' '137050' '83439' '79859' '116198' '107678' '220230'
 'WS911L' '153547' '213784' '268465' '210169' '445753' '999549' '229905'
 '556753' '8078' '154315' '693682' '18024' '209288' '235594' '210791'
 '033000' '7268' '67993' '234164' '187808' '233136' '176737' '616987'
 '201741' '7947' '209636' '219367' '121692' '71418M' '225544' '138092'
 '296202' '155106' '390' '96' '68109' '129407' '920591' 'S10245' '164309'
 '45833' '217359' '41531' '161368' '216779' '59225' '765638' '661328'
 '72797' 'NPONE' '50501' '216337' '174528' '250539' '6549' '108994' '99'
 '711721' '181631' '177280' '8000' '181157' '209564' '3880' '154294'
 '219172' '311837' '9583MC' '187581' '003213' '90679' '156033' '219998'
 '0054' '1919' '746541' '00852' '115641' '124313' '217482' '329545'
 '284677' '126107' '141354' '140898' '138573' '160509' '344974' '186937'
 '332224' '72112' 'DNA' '215971' '125575' '67023' '89241' '172335'
 '208978' '43329' '2TN569' '187960' '1919MC' '186654' '184564' '144714'
 '10837' '216374' '44890' '91974' '182531' '2643MC' '267846' '621735'
 '002000' '140265' '574829' '139020' '383741' '126082' '216897' '34301'
 '153648' '111928' '157613' '135089' '70183' '1393' '16535' '120924'
 '904224' '046257' '127628' '97858' '157824' '53706' '364130' '136667'
 '217062' '134059' '31280' '164032' '216620' '076286' '212367' '20409'
 '220833' '217016' '210110' 'UNKOWN' '65507' '677066' '113590' '798959'
 '169241' '219727' '211034' '81261' '132096' '55100' '131929' '615456'
 '144420' '16185' '2646' '211918' '145326' '42764' '186461' '496585'
 '140608' '140696' '339017' '19455' '819675' '10265' '219767' '49213'
 '91130' '182417' '61794' '7414' '215243' '66460' '343629' '162629'
 '290662' '52902' '28406' '178694' '180703' '131606' '17287' '000000'
 '96151' '39210' '22994' '366837' '211514' '60015' '62684' '65330'
 '6785MC' 'P40162' '62614' '221547' '130892' '426820' '158774' '35100'
 '268440' '127070' '218200' '216073' '246677' '385077' '0' '108468'
 '63760' '148775' '137022' '219925' '492176' '131486' '156571' '282777'
 '119125' '56735' '119065' '49261' '141032' '210198' '71897' '64178'
 '185681' '14692' '49725' '185082' '47203' '142899' '615736' '003A'
 '218663' '176470' '161139' '110237' '387472' 'GVW546' '142248' '705122'
 '126283' '15991' '6540' '215534' '211988' '64735M' '155545' '217249'
 '18513' '24487' '481940' '279857' '131116' 'T45347' '214655' '181268'
 '47175' '268948' '128763' 'S10389' '188220' '1923MC' '152187' '179596'
 '501922' '70229' '144966' '157906' '221643' '314422' '69056' '135487'
 '121871' '57321' '213789' '68047' '13438' '194782' '68519' '174906'
 '215486' '241027' '159951' '209549' '136349' '58257' '220318' '219351'
 '58877' '111191' '215702' '526785' '57855' '213565' 'UKN' '3923' '28738'
 '217501' '137854' '141276' '145530' '125259' '173374' '181493' '218781'
 '5463' 'IDC101' '19641' '724602' '3148MC' '185111' '272141' '209441'
 '136711' '201214' '185387' '837168' '127573' '216161' '154193' '142268'
 '218565' '22209' '8967MC' '177346' '184070' '65609' '178936' '693045'
 '162689' '8018-5' '217353' '184596' '219254' '255560' '358735' '136791'
 '113116' '18326' '168550' '300872' '147556' '153937' '218961' '11807'
 '16130' '235T52' '209377' '32620' '72856' '130349' '157936' 'UNK.'
 '220072' '10014' '159669' '89736' '214149' '208665' '125953' '120745'
 '114265' '122463' '184427' '222523' '34950' '126118' '125415' '93712'
 '111260' '7983MC' '211065' '149162' '11253' '54617R' '426MC' '213922'
 '795090' '144380' '06591' '93377M' '159360' '70077' '156226' '132863'
 '176392' '209369' '220757' '214395' '124386' '186924' '212804' '890880'
 '647427' '51177' '25889' '16536' '96589' '177582' '140482' '7414MC'
 '17044' '138917' '221755' '880767' '9988' 'IL0023' '0000' '212337'
 '002508' '114575' '225275' 'DT120R' '104016' '7283' '219871' '100754'
 '135797' '219523' '143224' '65990' '15237' '187177' '212051' '269258'
 '126132' '8593' '417445' '156677' '212676' '134511' '168574' '934906'
 '103041' '217816' 'RC-1' '377474' '938037' '107122' '60095' '130904'
 '1125' '185129' '217562' '64239' '000' '172189' '108101' '106187'
 '187442' '108332' '87482' '699147' '3094' '118595' '175437' '302947'
 '70410' '432051' 'S11837' 'C88878' '43360' '864671' '184426' '102265'
 '175116' '493430' '151670' '225184' '138678' 'MC724' '178193' '8094'
 '138040' '159871' '185669' '177394' '156744' '8181' '77346' '158955'
 '113698' '130928' '14012' '184570' '160961' '173386' '211770' '130628'
 '425401' '24112' '163244' '152234' '224800' '933096' 'MC5709' '133640'
 '154440' '768335' '220852' '173948' '698821' '223488' '211742' '250558'
 '225012' '5463MC' '71418R' '121126' '36000' '3583MC' '218689' '227079'
 '182697' '3605CP' '07138' '12037' '153972' '214349' '215715' '691716'
 '176972' '212986' '138065' '135953' '635962' '154766' '136574' '54927'
 '177602' '863292' '1035MC' '112006' 'C93549' '215758' '142093' '226191'
 '227248' '64257' '176539' '458730' '10194' '212807' '5711' '327365'
 '226640' '231637' '227119' '169433' '811930' '229163' '137965' '95731'
 '177898' '233433' '163645' '9412R' '218732' '109261' 'GGTS' '185952'
 '218680' '231616' '420461' '34306' '136553' '134610' '104224' '222719'
 '222585' '209770']
Column 'COMMERCIAL_SRC' has unique values: [nan 'DRIVER' 'LOG BOOK' 'PAPERS' 'SIDE OF TRUCK']
Column 'GVWR' has unique values: [nan '3' '73280' '1' '54000' '2' '26000' '16000' '19500' '7328' '80000'
 '64000' '36000' '08000' '38000' 'UNKNOWN' '2600' '17500' '25999' '54999'
 '26001' '17872' '42540' '52000' '12000' '80,000' '32,000' '10050' '18000'
 '8000,00' '55000' '33000' '25000' '77000' '32000' 'UNK' '26,000' '79000'
 '5400' '25,000' '20000' '18198' '65000' '800' '54,700' '11,500' '30,000'
 '25950' '40,000' '22100' '6000' '59500' '56,000' '37520' '16478' '10,000'
 '39600' '12300' '8000' '17950' '66000' '18500' '50000' '02000' '33,000'
 '13,000' '12,500' '56000' '67,200' '25,999' '71,780' '28,000' '41500'
 '72, 000' '260000' '11000' '15000' '40000' '22' '19580' '10000' '3000'
 '12500' '15880' '66790' '30618' '34,000' '100000' '5500' '47000' '30000'
 '60000' '14780' '34000' '74000' '24000' '14500' '53200' 'UNKNOW'
 '37000KG' '25500' '45000' '014050' '13000' '46000' '255500' '35000'
 '42,720' '42540 LBS' '66790 LB' '42540 LB' '10016' '20' '34K' '69000'
 '70200' '11793' '9,600' '33245' '9999' '52,000' '80001' '50,000' '9,995'
 '14000' '16478 LBS.' '00000' '425540' '9900' '14968' '32400' '61000'
 '41950' '71,650 LBS' '26000-LBS' '18964' '70000' '68000' '14,968' '4000'
 '19400' '88000' '13157 KG' '16,000' '22000' '66790 LBS' '40120 LB'
 '72000' '19900' '52350' '42760' '19230' '18696' '76000' '1800' '019900'
 '39100' '002000' '12750' '31020' '8510' '66780' '23587' '16500' '15307'
 '53000' '32090' '52350 LB' 'UNDER 8800' '48,000' 'DNA' '15600' '73260'
 '9000' '31,000' '800000' '20,000' '1600' '42,540' '23500' '05600' '13200'
 '465000' '29300' '3600' '080000' '29800' '39499' '40120' '43380' '99' '5'
 '42450' '117000' '3331' '25995' '39000' '18100' '40,120' '42,760' '42720'
 '67560' '7320' '36,000' '26507' '21800' '33,000 LBS' '48000' '12200'
 '40120 LBS' '80' '50700' '4600' '9068' '5000' '42400' '78000' '41,000'
 '16000.00' '1500' '14100' '1002' '86000' 'UNKON' '24.766' '54600 ILS'
 '14670' '29500' '42,720LB' '42,540LG' '15595' '140780' '41000' '61,000'
 '74,960LBS' '3200' '28000' '40130' '54320' '6200' '69,360' '16921'
 '40 TONS' '67200' '22528' '8,000' '15677' '26700' 'OVER 2000' '4100'
 '32500' '46,0000' '30,500' '20,0000' '42,000' '42000' '7950' '60,000'
 '15200' '28350' '42729' 'UNKOWN' '27760' '37448' '37444' '44000' '17,500'
 '15,000' '43000' '10320' '37820' '10400' '54,000 LBS' '32713'
 'GVW 80,000' '5270' '31000 LB' '21000' '36400' '8600' '23000' '80000 LBS'
 '80000LBS' '19,500' '75000' '14,248' '10079' '67,200 LBS' '55,840.00'
 '15876' '17000' '73000' '13500' '49000' '71650' '11480' '25,500' '16'
 '18198 KG' '36772' '73002' '39558' '54001' '1200' '24250' '6000 LBS'
 '14150' '29,800' '81000' '5200' '8000+' '14746.74' '034000' '10360'
 '0014500' '39,500KGS' '67100 LBS' '80005' '54002' '068000' '34140'
 '17600' '9980' '22.5X8.25' '3300' '7600' '80,000.00' '11001' '17,452'
 '80,000 LBS' '62000' '5250' '17567' '90000' '11566' '6465' '31300'
 '54780' '42250' '53200LB' '2800' '68000LB' '46,000' '29,500' '27000'
 '8418' '85,000' '30,480' '41512' '008600' '8846' '14481' '15300' '31000'
 '6600' '14960' '6550' '16902' '29500KG' 'UKN' '39499LBS' '3106' '22460'
 '53,000' '80.000' '42,760 LBS' '32000 LBS' '30840' '17150' '15500'
 '24400' '4450' '73,280' '16560' '51,000' '014500' '7200' '15700' '72,280'
 '71000' '54600' '546999' '11500' '14770' '42552' '73,000 LBS' '23760'
 '78620' '120,000' '12,000' '35,000' '8,600' '51200' '52500' '11567'
 '18000.00' '530000' '17085' '2000' 'UN. 26000' '28200' '40360' '13,842'
 '13517' '8845' '27500' '71,650' '42720 LBS' '3100' '41,500 LBS'
 '24131 KG' '14,050' '2 TONS' '06050' '8187' '46500KG' '95000' '14061 KG'
 '26,000 LBS' '0000' '4254019290' '29000' '73208' '25,950' '12925']
Column 'CARRIER_NAME' has unique values: [nan 'UNK' 'SWIFT TRANSPORTATION' ... 'THILLENS' 'ALL SEASONS EXPRESS LLC'
 'KNIGHT RIDERS TRUCKLINES INC.']
Column 'CARRIER_STATE' has unique values: [nan 'IN' 'IL' 'TX' 'ID' 'MD' 'MN' 'AR' 'XX' 'KY' 'MI' 'OH' 'FL' 'KS' 'NC'
 'TN' 'OK' 'AZ' 'MA' 'NJ' 'ME' 'PA' 'MO' 'WI' 'MS' 'IA' 'NB' 'GA' 'UT'
 'CA' 'VA' 'SC' 'WA' 'OR' 'WY' 'NY' 'AL' 'CO' 'NH' 'RI' 'NM' 'LA' 'ND'
 'CT' 'SD' 'NV' 'DE' 'MT' 'DC' 'WV' 'HI' 'JE']
Column 'CARRIER_CITY' has unique values: [nan 'GARY' 'NAPERVILLE' ... 'BURRINGTON' 'AURRORA' 'KEY WEST']
Column 'HAZMAT_PLACARDS_I' has unique values: [nan 'Y' 'N']

Column 'HAZMAT_NAME' has unique values: [nan 'NITROGEN' 'DICHLOROMETHANE' 'GASOLINE' 'GASOLINE/PETROL'
 'FLAMMABLE LIQUID' 'PROPANE' 'HOT' 'TETRAFLUOROETHANE' 'MEDICAL WASTE'
 'PETROLEUM' 'DIESEL' 'FLAMMABLE' 'CLASS 2.2' 'CORROSIVE' 'PETROLUEM'
 'FLAMMABLE GAS' 'DIESEL FUEL' 'CARBON DIOXIDE' 'OXIDIZER'
 'FLAMMABLE TREE' 'COROSIVE' 'PETRO GAS' 'NAPHTHALENE' 'FLAMMABLE LIQUIDS'
 'OXYGEN LIQUID' 'FLAME' 'GASOLINE/DIESEL FUEL' 'FUEL OIL' 'FLAMABLES' 'C'
 'INTEGRAL SLEEPER' 'ACIDIC' 'GAS AND DIESEL' 'TAR COMPOUND' 'FLAMABLE'
 'SUBSTANCES GUIDE 171' 'NONE' '1203' 'LIQUID NITROGEN']
Column 'UN_NO' has unique values: [nan '7289' '2021' '1621' '5671' '6545' '4651' '0607' '698' '2203' '2271'
 '0434' '1993' '2716' '4751' '237' 'FT48' '1496' 'FDXU' '4387' '8330'
 '6967' '5440' '1977' '2533' '0141' '0000' '3188' '1827' '1908' '1153'
 '6953' '1203' '2907' '9430' 'UNK' '7800' '8126' '1930' '1945' '1772'
 'B476' '1909' '0230' 'NONE' 'H41' '1075' '5971' '1473' '4967' '4984'
 'B295' '669' '3065' '1195' '1143' '537' '5178' '7669' '6721' '5254'
 '3257' '3038' '3159' '0173' '4484' '1933' '1205' '226A' '4284' '7305'
 '0250' '1923' '8086' '7104' '8930' '1404' '2509' '1641' '6213' '7885'
 '9260' '0029' '5043' '4514' '2665' '101' '1170' '7272' '6302' '7480'
 '7066' '8067' '1830' '2330' '5235' '1054' '1216' '1151' '0911' '3991'
 '2896' '3068' '2101' 'D146' '4395' '1272' '1571' '0514' '2262' '9806'
 '1737' '3164' '1116' '0001' '1326' '8081' '2633' '1411' '4385' '1139'
 'AHFH' '3466' '9620' '2401' '4704' '0226' '1875' '1931' '1119' '7444'
 '7201' '1140' '1315' '518' '2300' '5563' '5406' '3134' '7435' '0056'
 '7280' '45G1' '2735' '6989' '0358' '0007' '1535' '9250' '1580' '8135'
 '5019' '5421' '9939' '2345' '2' '1318' '4851' '1550' '4380' '4616' '1149'
 '001' '53' '2187' '3137' '6534' '4229' '3453' '1605' '6438' '6305' '3823'
 '0101' '0633' '1485' '4510' '8214' '1040' '806A' '9227' '1685' '1073'
 '1266' '103' '50YA' '7514' '9225' '1017' 'R113' '4922' '1240' '138'
 '0064' '2543' '0045' '2317' '1806' '1887' '9103' '3840' '9214' '1133'
 '0015' '0100' '3169' '8297' '9376' '1039' '8427' '3558' '4958' 'UNKN'
 '1122' '4555' '9877' '987A' '1295' '1393' '1405' '6313' '2011' '2304'
 '99' '1490' '2157' '8211' '4313' '2794' '7803' '171A' '8145' '0717'
 '0234' '6082' '9123' '1760' 'DNA' '5922' '2507' '1224' '305' '016A'
 '2156' '8022' '4970' '1975' '8127' '8204' '552' '1041' '2817' '3811'
 '0043' '3267' '1247' '51' '3335' 'ONK' '6140' '9302' '7575' '5382' '5854'
 '2789' '3666' '2654' '0845' '1450' '1392' '7754' '1711' '4246' '5121'
 '7644' '1591' '7875' '1857' '9886' '4498' '62' '1156' '1011' '0819'
 '3955' '2933' '3942' '1448' '6936' '0619' '1680' '511' '0068' '6423'
 '273' '4150' '7977' '4563' '2806' '1175' '1289' '0419' '8011' 'DV11'
 '5535' '5788' '0690' '1005' '5727' '3411' 'P400' '1791' '2522' '5499'
 '522' '104' 'PB90' '6492' '436' '2002' '4482' '1210' '3206' '6736' '56'
 '1253' '2523' '1593' '2425' '1917' '0612' '3925' '2149' '0805' '1263'
 '007' '5239' '0637' '5303' '4194' '0760' '9027' '1936' '2005' '5614'
 '2820' '201' '5606' '1954' '1057' '2255' '5521' '0749' '1125' '4979'
 '1824' '2063' '3082' '1271' '3496' '7760' '3053' '2545' '3522' '1024'
 '0127' '0262' '8600' '7896' '3676' '1128' '0339' '7746' 'ST31' '1855'
 '0236' '1611' 'D114' '1098' '1111' '1921' '4252' '8826' '1831' '1643'
 '6973' '1920' 'KBUX' '0907' '1991' '1340' '1162' '1976' '1010' '4438'
 '0242' '1058' '5742' '1226' '2RTT' '5798' '76' '2288' '8493' '1002'
 '1056' '4012' '0107' '6571' '4060' '3266' '1268' 'HYUZ' '6872' '0529'
 '9412' '8525' '550' '9997' '5311' '9535' '4264' '8178' '5822']
Column 'HAZMAT_PRESENT_I' has unique values: [nan 'N' 'U' 'Y']
Column 'HAZMAT_REPORT_I' has unique values: [nan 'N' 'U' 'Y']
Column 'HAZMAT_REPORT_NO' has unique values: [nan 'JE106328']
Column 'MCS_REPORT_I' has unique values: [nan 'N' 'U' 'Y']
Column 'MCS_REPORT_NO' has unique values: [nan 'UNKNOWN' 'JF' 'JA413636' '8253' '47783026' '52748916' '3284167073']
Column 'HAZMAT_VIO_CAUSE_CRASH_I' has unique values: [nan 'N' 'U' 'Y']
Column 'MCS_VIO_CAUSE_CRASH_I' has unique values: [nan 'N' 'U' 'Y']
Column 'IDOT_PERMIT_NO' has unique values: [nan '899748' '664776' 'MB9078226' '2358780' 'W37F8485' '265752' '80806'
 'UNK' '207231' '533047' '693463' 'UNKNOWN' '2440122' '2076111' '5298KE'
 '3225514' 'IL037170' '2930071' '88722' '976560' '154324' '463275ST'
 '0963300' '087128' '16130' '133950' 'SD1646031' 'S10366' '0080806'
 'TT108-54' '136818' 'MC-1132778' '211329' '558713' '282577' '344454'
 '473269' '812400' '1306967' '368962' '294742' '3252141' '767489'
 '2150345' '264184' '0191496' '781203' '378186' '2186554' '2802561'
 '0154237' '568916' '3273858' 'DT3710' '84619' '61729' '1053301' 'NO'
 '1285063' '220756' '081R' '549243ST' 'DNA' 'CFT324482' '3080210'
 '02791806' '099858' '26811007' 'SPG326889' '3612413' '1909311' '358980'
 '121058' '1282377' '1244408' '315026' '2865227' '228295' '002301782'
 '1315963' '165420' 'FL4075' '1411119' '53467' '00120682' '76635'
 'SPG315868' '1251595' '869874' '948584' 'MC1072100' '302172' '2964382'
 'JBH2146113' '3094063' '3360843' '1112473' '2871790' 'BTL333175' '070559'
 '090254' '2414797' '0680380' '163997' '3032266' '289613' '1836726'
 'SPG632003' '2787956' '2138466' '1921315' '2643757' '1480767' '1441794'
 '10283' '134056' '2022' '73059' '3667078' '212942' '3468750' '166394'
 '3498035' '10193' '2839570' '103333' 'DOT320526' 'JL038484' 'M162215'
 '146060' 'K9762456' '1309381' '021800' '798100' '2064982583' '065769'
 'S10472' '24147' '4SM9004' '0331466' '4267021' '002337970' 'SPG208629'
 '3222886' '1971627' '657375' '104' 'TNL218211' 'NONE' '1383949' '710723'
 '3448428' '338956' '730844' '1482349' '2317388' 'TSXZ14913' '2522269'
 '75321' '2582074' '1787796' '29186729' '726855' '30368877' '0076764'
 '0124500' '879760' '330513' '20249' '1' '1266329' '0352848' '682551'
 '2990647' '335561' '0198130' '3843325' '1082122' '3688115' '2507503'
 '2190975' '3486874' '2370178' '1295076' '1305291' '2058918' '2969432'
 '186105NC' '1146039' '1776252' '301539' '1921535' '11800213' '2025854'
 '119048' '3347297' '3100609' '2609259' '239039' '1352981' 'DT357R'
 '65441' '53773' '1751985' '608224' '238954' '309540' '75250' '3269354'
 '075525' '2066538' '4GE1136' '330984' '154237' '3052915' '3097552'
 '1002394688' '3088543' 'S10380' '3379683' '216939' '2997732' 'BRS421606'
 '36869' 'DT278R' '2R111' '0723253' '185183' '234294' '500922' 'BUS#4325'
 '046385' 'BUS#1550' 'BUS#4380' '3333231' '3632020' '2491030' '479520'
 '2881058' '0172887' '639831' '3766338' '2521047' '0124408' '155682'
 'BUS#1605' '165954' '3274348' '3424933' '3065027' '1092543' '1302563'
 '188001' '2519611' '16483008' '264919' 'UNKOWN' '009640' '663668'
 '165881' '2560259' '617328' 'T88722' '250539' '1080997' '99' '711721'
 '199309' '1165300' '81635' '774779' '704116' '131898' '054283' '74432'
 '008350' '1637762' '25926' '1002014' '540864' '2432509' '2058097'
 '1551492' '17119' 'DOT851958' 'D3003510' '1678014' 'UNK.' '9214' '649166'
 '272112' '355455' '1930140' '1472094' 'CLS216145' '1959522' 'IA T-88722'
 '147' '2TN56OK' 'MC186654' '175852' '2931867' '1405944602' '24227985'
 '3070267' '175882' '5496 MC' '583502' '384683' '0000783' 'MC226145'
 '463019' '1240382803' '49533924' '781086' '1795605' '166046' '2424622'
 '002033' '244717' 'UNKNONW' '53284' '19911860' '0540855' '3053335' '0'
 '1011620' '1709925' '006798233C' '1714924' '1272515' '1231913' '2200633'
 '1671330' '1731111' '1065876' '619505382' 'UNKNKOWN' '1751855' '540837'
 '2405573' 'MC776902C' '291139' '037968' '149896' '693614' 'IEI928045'
 '24491' 'US 1464819' '00000' '2206518' '2303966' '8948158982' '54243'
 '428823' '704220' '1006139' '661028' 'UNKONWN' '02262934' '000005723'
 '939909' 'NOT AVAIL' '2433078' '2095788' '1293918' '301031' '0533220'
 '3135492' '070750' '863292' '164311' '745614' '1645406' '996021' '267437'
 'KYV209234' '980197195' '1762064' '025509' '934642' '2817633' '7016'
 'S10389' '1964511' '653010' '1694691' '788728' '753510' '120682' '660715'
 '2112116' '613678' '169877' '10194' '247337' '104000096' '074481'
 '152985' '121999 MC' '1883803' '21800' '1506437' '2026632' '2538539'
 '1234' '76764' '50140' 'ZV69661' '690498' '589421' '21277640' '665732'
 '133275' '0635608' '360986' '1299295' '15146190' '2343258' '2435295'
 '1762766' 'USDOT63391' '184070' '7432061101' 'MC366551P' 'ALC905941'
 '958820' '251582' '1597381' '13140020' '692947' '2983557' '2630021'
 '73396' '107068' '071821' '174015' '046257' '1197429' '073705' '128861'
 '98866' '148604' '147217' '0304078' 'R260918396' '112044' '3075657'
 '805133' '1607231024' '1887811' '2473365' '0284585' '454597796' '3208645'
 '3153812' '2584945' '687779' '50453469' 'W16631' '2513655' '201502'
 '2800634' 'IL376500' '38111' '076502' '0FEZ35598' '478701' '54283'
 '127810' '2393030' '252402' '178538' '1052526' '2492567' '65769'
 '2293942' 'S12847' '2260278' '890090' '0712449' '00880806' '82250'
 '687202' '0302521' '264334' '1252905' '3173128' '146351' '2543926'
 '327574' '1062707' '2889574' '315204' '2461132' '1290080' '14864876'
 '124358' '824486' '0000000' '90849' '3148603' '2020961' '103820'
 'MC720308P' '30114G' '00553773' '003706' '0003706' '1742100' '1723942'
 '2842292' '2993263' '33242' '2862416' '2945719' '2146483' '305573'
 '636525' '1420479' '2983192' '11516' '60095' '611357' '1243338' '3019035'
 '3156735' '1901374' '1024009' '204463' '2173149' '599617' '1913'
 '2271858' '1856897' '85001' 'US2450059' '5910' '652947' '2482123'
 '333455' '3197969' '2997152' '2497531' 'C2' '1212248' '485352' '291255'
 '1040391' '666391570' '2361789' '3215622' '4742031' '5668649C' '3101623'
 '331469' '8738992' '3346548' '1672019' '0081042' '185079742' '076483'
 '160608' '53433' '116433' '2480164' '0153100' '1488606' 'S10815' '220852'
 '703852' '2505679' '164-735' '213754' '75806' '98100' '032326'
 'AGC133818' '3031583' '0601578' '1870373' '2053212744' '090849' '200630'
 '661173' 'S10461' '3094034' '1974784' '130928' '435504' 'HN983957'
 '2416753' '616591' '86537' '201037' '1550291' '1420767' '54677' '3142459'
 '3364634' '212875' '683676ST' 'MC-879258P' 'TT011-1849' '97879' '3388947'
 '1779969' '1310845' '2838047' '100277' '7877661053' '1424617' '233114'
 '000234' '003394182' '1315997' '827622' 'TSFZ551409' '31417AH' '3506995'
 '463717' '332295' '4136055' '071644' '257062' 'WD9284' '3603482' '070892'
 '134610' '3197149' '125563' '4050157' '605338']
Column 'WIDE_LOAD_I' has unique values: [nan 'Y' 'N']
Column 'TRAILER1_WIDTH' has unique values: [nan '0-96' '>102' '97-102']
Column 'TRAILER2_WIDTH' has unique values: [nan '0-96' '>102' '97-102']

Column 'VEHICLE_CONFIG' has unique values: [nan 'TRUCK/TRACTOR' 'TRACTOR/SEMI-TRAILER' 'BUS'
 'SINGLE UNIT TRUCK, 2 AXLES, 6 TIRES' 'TRUCK/TRAILER'
 'SINGLE UNIT TRUCK, 3 OR MORE AXLES' 'UNKNOWN HEAVY TRUCK'
 'TRACTOR/DOUBLES']
Column 'CARGO_BODY_TYPE' has unique values: [nan 'VAN/ENCLOSED BOX' 'BUS' 'FLATBED' 'OTHER' 'DUMP' 'TANK'
 'GARBAGE/REFUSE' 'AUTO TRANSPORTER' 'CONCRETE MIXER']
Column 'LOAD_TYPE' has unique values: [nan 'OTHER' 'UNKNOWN' 'CONSTRUCTION EQUIPMENT' 'BUILDING MATERIALS'
 'FARM EQUIPMENT' 'STEEL COILS']
Column 'HAZMAT_OUT_OF_SERVICE_I' has unique values: [nan 'N' 'Y']
Column 'MCS_OUT_OF_SERVICE_I' has unique values: [nan 'N' 'Y']
Column 'HAZMAT_CLASS' has unique values: [nan 'MISCELLANEOUS' 'GASES' 'FLAMMABLE OR COMBUSTIBLE LIQUID'
 'POISON (TOXIC) OR POISON INHALATION HAZARD'
 'OXIDIZER OR ORGANIC PEROXIDE' 'EXPLOSIVES'
 'FLAMMABLE SOLID, SPONTANEOUSLY COMBUSTIBLE, OR DANGEROUS WHEN WET'
 'CORROSIVE']

#### Takeaways after initial overview:
* The dataset `Traffic Crashes: Vehicle` has 71 columns and 1743922 data entries;
* The dataset has a primary kery `CRASH_UNIT_ID` and two non-primary keys:`CRASH_RECORD_ID`, `VEHICLE_ID`.
* The dataset contains information about the vehicle, such as make, model, defect. 
* Proposed columns to drop:

In [29]:
cols_to_drop_df_vehicle = ['LIC_PLATE_STATE',
       'TRAVEL_DIRECTION',
       'TOWED_I', 'FIRE_I', 'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY',
       'TOWED_TO', 'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I',
       'AREA_04_I', 'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I',
       'AREA_09_I', 'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I',
       'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO',
       'COMMERCIAL_SRC', 'CARRIER_NAME', 'CARRIER_STATE',
       'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO',
       'MCS_REPORT_I', 'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I',
       'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO', 'WIDE_LOAD_I',
       'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH',
       'TRAILER2_LENGTH',
       'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',
       'MCS_OUT_OF_SERVICE_I']

### Observarions after loading the datasets.

* `Traffic Crashes: Crashes` -- 48 columns, 854910 data entries;
* `Traffic Crashes: People` -- 29 columns, 1877321 data entries;
* `Traffic Crashes: Vehicles` -- 71 columns, 1743922 data entries;

## 5. Data Cleaning.

## 6. Data Transformation.

## 7. Modelling.

## 8. Results.

## . Conclusion.